<header style="background: #6847CC;">
  <div class="content-header">
    <button type="button" class="btn" (click)="newAccount()">
      Nova conta
    </button>
    <button type="button" class="btn" (click)="logout()">
      Sair
    </button>
  </div>
</header>

<div class="container">

  <div class="summary">
    <div class="content">
      <header class="top">
        <p>Valor a receber</p>
        <img src="../../../assets/income.svg" alt="Valor a receber" />
      </header>
      <strong>{{(accounts | calculate).payable | currency: 'BRL'}}</strong>
    </div>
    <div class="content">
      <header class="top">
        <p>Valor a pagar</p>
        <img src="../../../assets/outcome.svg" alt="Valor a pagar" />
      </header>
      <strong>-{{(accounts | calculate).receivable | currency: 'BRL'}}</strong>
    </div>
    <div class="content highlight-background">
      <header class="top">
        <p>Total</p>
        <img src="../../../assets/total.svg" alt="Total" />
      </header>
      <strong>{{(accounts | calculate).total | currency: 'BRL'}}</strong>
    </div>
  </div>

  <div class="wrapper">
    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Valor</th>
          <th>Categoria</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{account.title}}</td>
          <td [className]="account.type">{{account.amount | currency:'BRL'}}</td>
          <td>{{account.category}}</td>
          <td>{{account.createdAt | date:'short'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
