<!-- HeaderComponent -->
<header style="background: #6847CC;">
  <div class="content-header">
    <img src="../../../assets/logo.svg" />
    <button type="button" class="btn">
      Nova transação
    </button>
  </div>
</header>
<!-- Fim HeaderComponent -->

<div class="container">

  <!-- SummaryComponent -->
  <div class="summary">
    <div class="content">
      <header class="top">
        <p>Valor a receber</p>
        <img src="../../../assets/income.svg" alt="Valor a receber" />
      </header>
      <strong>{{summary.payable | currency:'BRL'}}</strong>
    </div>
    <div class="content">
      <header class="top">
        <p>Valor a pagar</p>
        <img src="../../../assets/outcome.svg" alt="Valor a pagar" />
      </header>
      <strong>-{{summary.receivable | currency: 'BRL'}}</strong>
    </div>
    <div class="content highlight-background">
      <header class="top">
        <p>Total</p>
        <img src="../../../assets/total.svg" alt="Total" />
      </header>
      <strong>{{summary.total | currency: 'BRL'}}</strong>
    </div>
  </div>
  <!-- Fim SummaryComponent -->

  <!-- MyAccountComponent -->
  <div class="wrapper">
    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Valor</th>
          <th>Categoria</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{account.title}}</td>
          <td [className]="account.type">{{account.amount | currency:'BRL'}}</td>
          <td>{{account.category}}</td>
          <td>{{account.createdAt}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Fim MyAccountComponent -->

</div>
